@value lightColor: #ffffff;
@value accentColor: #3f51b5;
@value btnHoverColor: #303f9f;


      /* white: '#ffffff',
        red: '#8e1600',
        accent: '#987045',
        secondaryColor: '#00554e',
        muted: '#f6f6f6',
  
        mainText: '#333333',
        secondaryTextColor: '#ebebeb',
        accentTextColor: '#013220',
        inputText: 'rgba(117, 117, 117, 0.5)',
  
        mainBackgroundColor: '#f5f4fa',
        accentBackgroundColor: '#03453b',
        backgroundContactCardColor: 'rgba(247, 227, 201, 0.2)',
        bgErrorColor: ' rgba(142, 22, 0, 0.08)',
        btnShadowColor: 'rgba(0, 0, 0, 0.15)', */